body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #122028;
    color: #f5f5f5;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 0 20px;
}

header {
    width: 100%;
    background-color: #122028;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    color: #dfdfdf;
    position: relative; /* Adjusted to not overlap content */
    z-index: 1000;
    height: 30px;
}

main {
    flex: 1; /* Ensures content takes up available space */
}

.footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #dfdfdf;
    font-size: 12px;
    
}


#bands {
    width: 100%;
    text-align: center;
}

#bandhtml {
    background-color: #0c2c4a;
    color: white;
    border: 1px solid #f5ab29;
    padding: 10px;
    border-radius: 50px;
    
}

.color-selector {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    width: 120px;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #FBF0D9;
    border: none;
}

.resistor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    background: url('/resistor/icons/resbody.png') no-repeat center;
    background-size: contain;
}

.resistor-body {
    width: 200px;
    height: 60px;
    position: relative;
}

.band {
    position: absolute;
    width: 10px;
    height: 51px;
    border-radius: 3px;
    top: 4.4px;
}

.band:nth-child(1) {
    left: 40px;
    background: brown;
}

.band:nth-child(2) {
    left: 70px;
    background: black;
}

.band:nth-child(3) {
    left: 100px;
    background: red;
}

.band:nth-child(4) {
    left: 150px;
    background: yellow;
    height: 50px;
    top: 5px;   

    
}

#result {
    font-weight: bold;
    margin: 65px;
}
        
        
          
    
    
.button-container {
    display: flex; 
    margin-top: 50px; 
    margin-bottom: 50px;
    }
